<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Kevin Bu & Sherry Feng" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
	<script src="splootify.js" async></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vuefire/1.4.5/vuefire.js"></script>
	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="css/style.css">
    <title>CompSci 290 Final Project</title>
  </head>

  <body>
  	<header id="header">
  		<h1>Splootify</h1>
  	</header>
    <div id="app">
    	<div>
    		<p>Guest Access</p>
    	</div>

      <div id="addsong">
        <p>This adds your selected song to the song database.</p>
        <br>
        <input placeholder="Enter the Artist" v-model="artist">
        <input placeholder="Enter the Track Name" v-model="song">
        <button type="button" class="btn btn-primary btn-sm" v-on:click="addSong">Add Song to Database</button>

      </div>
    </div>

  	<footer id="footer">
  		<h1>Created by: Kevin Bu and Sherry Feng</h1>
  	</footer>
  </body>