<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Kevin Bu & Sherry Feng" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
	<script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
	<script src="src/splootify.js" async></script>
    <title>CompSci 290 Final Project</title>
  </head>

  <body>
  	<header id="header">
  		<h1>Splootify</h1>
  	</header>

  	<div>
  		<a href="plan.html">Project Plan</a>
  	</div>

  	<div id="authentication">
  		<button type="button" class="btn" id="guest" v-on:click="guest">Proceed as guest</button><br>
  		<br>

  		<input class="email" placeholder="Your email" v-model="email">
  		<input class="password" placeholder="Your password" v-model="password">
  		<button type="button" class="btn" id="createAccount" v-on:click="createAccount(email, password)">Create account</button><br>
  		<br>

  		<input class="email" placeholder="Your email" v-model="email">
  		<input class="password" placeholder="Your password" v-model="password">
  		<button type="button" class="btn" id="login" v-on:click="authenticate(email, password)">Login</button><br>
  		<br>
  	</div>

  	<footer id="footer">
  		<h1>Created by: Kevin Bu and Sherry Feng</h1>
  		<h2>Test</h2>
  	</footer>
  </body>